@font-face {
    font-family: "Quicksand";
    src: url("../public/fonts/Quicksand Regular 400.ttf"); /* IE9 Compat Modes */
    font-weight: normal;
    font-style: normal;
}
  
  @font-face {
    font-family: "Quicksand";
    src: url("../public/fonts/Quicksand Light 300.ttf"); /* IE9 Compat Modes */
    font-weight: lighter;
    font-style: normal;
}
  
  @font-face {
    font-family: "Quicksand";
    src: url("../public/fonts/Quicksand Medium 500.ttf"); /* IE9 Compat Modes */
    font-weight: medium;
    font-style: normal;
}
  
  @font-face {
    font-family: "Quicksand";
    src: url("../public/fonts/Quicksand Bold 700.ttf"); /* IE9 Compat Modes */
    font-weight: bold;
    font-style: normal;
}